
/.idea

/docs/build
.ipynb_checkpoints

.cache

dask-worker-space
*.log
*.lock
*.pyc
*.so
*.egg
*.ms
*.hdf5
*.fits
*.dirlock
.vagrant
/arl_simulation/palladium_simulations
*.png
*.jpg
*.out
hostfile.*
*.mat
*.zip
.DS_Store
